.w-100 {
    width: 100%;
    margin: auto;
}

.d-flex {
    display: flex;
    justify-content: center;
}

.mt-5 {
    margin-top: 16px;
}

.top-center {
    margin-top: 200px;
}

.card-action {
    display: flex;
    justify-content: space-between;
}

.input-field input {
    color: #dedede;
}

.input-field input:focus ~ label {
    color: #dcedc8 !important;
}

.input-field label {
    color: #f1f8e9   ;
}